import os

# Starting period - 'Date/Month'
START_PERIOD = "17/08/2015"

# Number of Days in a recharge month
DAYS_IN_MONTH = 28

# Recharge this month (in MBs)
TOTAL_DATA = 7 * 1024

# Difference between epochs of data points (in seconds)
EPOCH_DIFF = 10 * 60 + 5

# Used as a hack to fix up the data
CORRECTION_FACTOR = 0.225

# Folder where log files are stored
LOGFILES_PATH = os.path.expanduser("~/.net/")
